@import 'compass';
@import 'Front/generale/_element.scss';
@import 'Front/generale/_layout.scss';
@import 'Front/generale/_function.scss';

@media (min-width:1369px) and (max-width: 1680px) {
	.table_modify {
		font-size: 12px;
	}
	.content_table .table_nom_candidat {
		width: 12%;
    	border-right: 1px solid #F2F6F8;
    	font-size: 14px;
    	border-left: 1px solid #F2F6F8;
    }
    label.input_addon_update_profil.background_view_noir.bacck {
	    bottom: 20px;
	}
	.table_myStaff {
		.content_table {
			padding: 1%;
		    width: 100%;
	    	.modify {
	    		font-size: 14px;
	    		width: 100%;
				display: flex;
				justify-content: center;
			    border-right: 1px solid #ECECEC;

	    	}
		    .tabel_mystaff_ville {
		    	width: 12%;
		    	border-right: 2px solid #F2F6F8;
		    	text-align: center;
		    	font-size: 14px;
		    }
		    .tabel_mystaff_ville_job {
		    	width: 15%;
		    	border-right: 2px solid #F2F6F8;
		    	text-align: center;
		    	font-size: 14px;
		    }
		    .tabel_mystaff_ville_finish {
		    	width: 9%;
		    	text-align: center;
		    	border-right: 2px solid #F2F6F8;
		    	font-size: 14px;
		    }
		    .tabel_mystaff_ville_finish_list {
		    	width: 9%;
		    	text-align: center;
		    	font-size: 14px;
		    }
		}
	}
	.content_pages_my_staff .mystaff .form_item_create_event .input_create_event {
		top: 16px;
	}
	.table_modify_start_name {
	    font-size: 12px;
	    width: 68%;
	}
	.couriel_modify_ambassad {
	    padding-left: 1px;
	    position:relative;
	}
	.content_table .table_modify {
		.background_view_noir {
        	right: 4px;
		}
	}
	.couriel_modify {
	    padding-left: 30px;
	}
	.input_addon_update_profil_mystaff_color {
	    margin-left: -19%;
	    top: 26%;
	}
}

@media (max-width:1369px) {
	.message_myStaff {
		left: 12px;
	}
	.small_label_myStaff {

	}
}
@media (max-width: 1368px) {
	label.input_addon_update_profil.background_view_noir.bacck {
	    bottom: 10px;
	}
	.modify {
		font-size: 11px;
		display: flex;
		justify-content: center;
	}
	.couriel_modify_etoile {
	    padding-left: 0px;
	}

	.table_modify {
	    width: 12%;
	    text-align: center;
	    font-size: 11px;
	}
	.couriel_modify_ambassad {
	    padding-left: 5px;
	}
	.table_modify_start_avatar {
	    width: 8%;
	    font-size: 11px;
	}
	.table_modify_start_name {
	    font-size: 11px;
	}
	.couriel_modify {
	    padding-left: 18px;
	}
	.content_table .table_modify .background_view_noir {
	    right: -2px;
    	bottom: 5%;
	}
	label.label_chiffre {
	    margin-left: 35%;
	}
	.background_icon_etoile_color {
		margin-top: -15px;
	}
	.background_icon_etoile_no_color {
		margin-top: -15px;
	}

	#view_post_my_staff .label_little {
    	right: 78px;
    }
    .message_myStaff {
		left: 0px;
	}
	.small_label_myStaff {

	}
	.dropdown_lisste_jobs{
		margin-top: -47px;
	}
}

@media (max-width: 1024px){
	.step_modify_profil {
		background-color: #ffffff;
		border: none;
	}
	.modify_one{
		display: none;
	}
	.dropdown_liste_jobs{
		top: 64%;
		li {
		 width: 100%;
		}
	}
	.content_pages_my_staff .mystaff .form_item_create_event .search {
		top: 45px;
	}
	.action_staff {
		width: 11%;
	}
	.actiosn_staff {
		width: 5%;
	}
	.content_pages_my_staff .mystaff .form_item_create_event .input_create_event {
	    height: 54px;
	}
	.form_item_create_event {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-left: 0%;
	}
	.content_step_profil {
		border: none;
	}

	.input_addon_update_profil {
	    background-color: #FFFFFF;
	}

	table {
	    border: 0;
	}

	table caption {
	    font-size: 1.3em;
	}

	table thead {
	    border: none;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    padding: 0;
	    position: absolute;
	    width: 1px;
	}

	table tr {
	    display: block;
	    margin-bottom: 1em;
	    border-bottom: 1px solid #F2F6F8;
	}
	table th {
	    display: block;
	}

	table td {
	    display: block;
	}
	.table td:nth-child(odd) {
	    background-color: #eee;
	}

	table td::before {
	    content: attr(data-label);
	    float: left;
	    font-weight: bold;
	    position: absolute;
	    display: flex;
	    justify-content: left;
	    color: #393C40;
	    margin-left: 2%;
	    margin-top: -11px;
	}
	.data_label {
		padding-left: 1.5%;
	}

	table td:last-child {
	    border-bottom: 0;
	    padding-bottom: 1%;
	}

	.table_modify_start_avatar {
		width: auto;
		font-size: 13px;
		padding-bottom: 3%;
	}
	.table_modify_start_name {
	    width: auto;
	    font-size: 13px;
	    padding-left: 0;
			// display: none;
			margin-left: 0;
			flex: none;
	}
	.differente_inherit_padding {
		padding-right: inherit;
	}
	.avatar_myStaff {
    margin-right: 2%;
	}

	.table_modify {
	    width:auto;
	    text-align: end;
	    font-size: 13px;
	    padding: 3%;
	    padding-left: 7px;
	    border: 1px solid #F2F6F8;
	    padding-bottom: 0%;
		height: 23px;
	}
	.table_modify_one {
		 padding-bottom: 0px!important;
	}
	.message_myStaff {
	    bottom: -124px;
	    font-size: 19px;
		color: #707070;
	}

	.table_myStaff {
	    margin-top: 10%;
	}

	.content_table .table_modify .background_view_noir {
	    left: 84px;
	    bottom: 11px;
	    background-color: #fff;
	}

	label.label_chiffre {
	    margin-left: 0;
	    right: 3%;
	}

	.background_icon_etoile_color {
	    margin-top: 0;
	}

	.input_addon_update_profil_mystaff_color {
	    right: 2%;
	    top: 18px;
	}

	label.label_chiffre {
	    margin-top: -3px;
	    margin-left: 0;
	}

	.background_icon_etoile_color {
		display: none;
	}

	.background_icon_etoile_no_color {
		display: none;
	}

	.flex_avatar_name {
	    justify-content: flex-end;
	    margin-top: -23px;
	}
	.table_myStaff_color {
		background-color: #fff;

	}

	.table_modify_color {
		background-color: #F2F6F8;
	}

	.small_label_myStaff {
	    width: 100%;
	    position: relative;
	    right: 0;
	}

	label.input_addon_update_profil.background_view_noir.bacck {
	    bottom: 14px;
	}

	.avatar_myStaff_big {
		left: 50px;
	}

	#view_post_my_staff .label_little {
       font-size: 22px;
    }
    .modify {
    	justify-content: flex-end;
    	margin-top: -6px;
    }

}

@media (max-width: 767px){
.input_addon_update_profil_mystaff_color {
	  top: 18px;
	}
	label.input_addon_update_profil.background_view_noir.bacck {
	    bottom: 1px;
	}
	table td::before{
		margin-top: -4px;
	}
	.flex_avatar_name {
	    margin-top: -15px;
	}
	.table_modify {
		height: 28px;
	}
}
@media (max-width: 480px){
	.input_addon_update_profil_mystaff_color {
	   top: 8px;
	}
	label.input_addon_update_profil.background_view_noir.bacck {
	    bottom: 6px;
	}

	#view_post_my_staff.modal .modal_content .close {
	    font-size: 45px;
	}

	#view_post_my_staff .label_little {
	    font-size: 20px;
	    top: 100px;
	    left: 100px;
	    width: 52%;
	}

	#view_post_my_staff .view_post {
	    width: 300px;
	    margin-bottom: 4%;
	}

	#view_post_my_staff .view_post .model .color {
	    padding-right: 54%;
	}

	#view_post_my_staff .view_post .model .color .label_little_poste_color {
	    font-size: 12px;
	}

	#view_post_my_staff .view_post .ambassad .no_color {
	    padding-right: 35%;
	}

	#view_post_my_staff .view_post .ambassad .no_color .label_little_poste_no_color {
	    font-size: 12px;
	}

	#view_post_my_staff .view_post .model .color .label_little_poste_color {
	    font-size: 12px;
	}

	#view_post_my_staff.modal .modal_content .close {
	    position: absolute;
	    right: 0.5rem;
	    top: -0.5rem;
	}

	.avatar_myStaff_popup {
	    width: 50px;
	    height: 50px;
	}

	.avatar_myStaff_big {
		left: 54px;
		top: 81px;
	}

	#view_post_my_staff {
		.modal_content {
			max-width: inherit;
		}
	}

	#view_post_my_staff {
		.modal_content.modal_myStaff {
		    width: 80%;
		    height: 300px;
		}
	}

	#removing_ut_myStaff {
		.modal_content{
			max-width: inherit;
			.modal_myStaff {
			    width: 80%;
			    height: 300px;
			}
		}

	}
	#view_post_my_staff.modal .modal_content .close {
	    position: absolute;
	    right: 1.5rem;
	    top: 0.5rem;
	}
    .table_myStaff_color {
    	margin-top: 5%;
    }
    table td::before {
	    margin-top: 1px;
	}
	.flex_avatar_name {
	    margin-top: -9px;
	}
	.modify {
        margin-top: 1px;
	}
}
@media (max-width: 360px) {
	.message_myStaff {
	   bottom: -111px;
	   font-size: 15px;
	}
	.modify {
    	margin-top: 9px;
	}
	table td::before {
	    margin-top: 5px;
	}
	.table_modify_start_name {
	    margin-top: 8px;
	    padding-left: 1%;
	}
	.content_table .table_modify .background_view_noir {
		left: 31px;
	    bottom: 15%;
	}
	.input_addon_update_profil_mystaff_color {
	    right: 1.5%;
	    top: 21px;
	}
	.content_pages_my_staff .mystaff .form_item_create_event .search {
	    top: 34px;
	}
	label.input_addon_update_profil.background_view_noir.bacck {
	    bottom: 20px;
	}
	#view_post_my_staff .label_little {
	    font-size: 17px;
	}
	#view_post_my_staff .view_post {
    	width: 277px;
    	margin-bottom: 20px;
    }
    #view_post_my_staff .view_post .model .color {
	    padding-right: 30%;
	}
	#view_post_my_staff .view_post .ambassad .no_color {
	    padding-right: 7%;
	}
	#view_post_my_staff {
		.modal_content {
			max-width: inherit;
			.modal_myStaff {
			    width: 80%;
			    height: 300px;
			}
		}
		.avatar_myStaff_big {
		    width: 50px;
		    height: 50px;
		    left: 36px;
		    top: 87px;
		}
	}
	#removing_ut_myStaff {
		.modal_content.modal_myStaff {
		    width: 80%;
		    height: 300px;
		}
	}
	#removing_ut_myStaff {
		.modal_content {
			max-width: inherit;
		}
	}

	#view_post_my_staff.modal .modal_content .close {
	    position: absolute;
	    right: 1.5rem;
	    top: 0.5rem;
	}

	#removing_ut_myStaff .modal .modal_content .close {
	    position: absolute;
	    right: 1.5rem;
	    top: 0.5rem;
	}

	#removing_ut_myStaff .label_update_modal label.label_big {
	    font-size: 16px;
	}

	#removing_ut_myStaff .label_update_modal label.label_big_bold {
	    font-size: 16px;
	}
	.couriel_modify_etoile {
    	padding-bottom: 5% !important;
	}
	.action_staff {
	    width: 13%;
	}
	.table_modify_one {
		padding-bottom: 2%!important;
		padding-top: 5%;
	}
	.table_modify {
		padding-bottom: 5%;
		padding-top: 5%;
	}
	table td:last-child {
		padding-bottom: 8%;
		padding-top: 5%;
	}

}
