/**Police*/
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  src: url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Raleway"), local("Raleway-Regular"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff2") format("woff2"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff") format("woff"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.ttf") format("truetype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff2") format("woff2"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff") format("woff"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.ttf") format("truetype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}
/**End police*/
/*** Hello staff custom color ***/
/*// @mixin hs_police {
// 	font-family: Raleway-Black;
// 	src: url("fonts/Raleway/Raleway-Black.tff");
// }*/
/*** Hello staff form element ***/
/*** Hello staff buttons ***/
/*** modal ***/
/*** divider ***/
/*** start range slider ***/
/*** end ***/
/* line 3, ../../../../sass/Front/generale/_layout.scss */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*** Hello staff positioning ***/
/* line 7, ../../../../sass/Front/staff/futur_event/landing_page.scss */
.lp_content {
  width: 100%;
  height: calc(100vh - 102px);
  background-image: linear-gradient(63deg, #36ccb5, #559bf7);
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 19, ../../../../sass/Front/staff/futur_event/landing_page.scss */
.lp_description {
  position: absolute;
  z-index: 1;
  width: 36%;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

/* line 28, ../../../../sass/Front/staff/futur_event/landing_page.scss */
.lp_presentation {
  color: #fff;
  font-size: 35px;
  width: 100%;
  text-align: center;
  line-height: 1.5;
}

/* line 36, ../../../../sass/Front/staff/futur_event/landing_page.scss */
.lp_btn_primary {
  margin-top: 15%;
  color: #fff;
  background-color: #36CCB5;
  height: 5rem;
  border: 3px solid #fff;
  width: 20rem;
  font-size: 30px;
}

/* line 46, ../../../../sass/Front/staff/futur_event/landing_page.scss */
.lp_fond {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  object-fit: cover;
}

@media (max-width: 1340px) {
  /* line 55, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_description {
    width: 29%;
  }

  /* line 58, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_presentation {
    font-size: 28px;
  }

  /* line 61, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_btn_primary {
    width: 15rem;
    font-size: 25px;
  }
}
@media (max-width: 1155px) {
  /* line 67, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_description {
    width: 34%;
  }
}
@media (max-width: 985px) {
  /* line 72, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_description {
    width: 40%;
  }
}
@media (max-width: 835px) {
  /* line 77, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_description {
    width: 47%;
  }
}
@media (max-width: 714px) {
  /* line 82, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_description {
    width: 56%;
  }
}
@media (max-width: 600px) {
  /* line 87, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_description {
    width: 67%;
  }
}
@media (max-width: 500px) {
  /* line 92, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_description {
    width: 80%;
  }
}
@media (max-width: 420px) {
  /* line 97, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_description {
    width: 95%;
  }

  /* line 101, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_presentation {
    font-size: 25px;
  }

  /* line 104, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_btn_primary {
    width: 13rem;
    font-size: 22px;
  }
}
@media (max-width: 354px) {
  /* line 110, ../../../../sass/Front/staff/futur_event/landing_page.scss */
  .lp_description {
    width: 100%;
  }
}
