@import 'compass';
@import 'Front/generale/_element.scss';
@import 'Front/generale/_layout.scss';
@import 'Front/generale/_default.scss';

.responsive_dotted {
  display: none;
}
/**Special responsivite menu page*/

@media (max-width: 1075px) {
  .header_menus .list_menus {
    padding: 0 15px;
  }

  .header_menus .menu_head {
    width: 23%;

    .title_menus {
      font-size: 14px;
    }
  }

  .header_account {
    .menus {
        width: 90px;

      .img_menus img {
        width: 35px !important;
        height: 35px !important;
      }
    }
  }
}

@media (max-width: 835px) {
  .header_account {

    .content_users { margin-left: 3.6vw; }

    .logo_users {
      width: auto;
      padding: 0;
      margin-right: 20px;
    }

    .list_menu_page { top: 100px; }

    .menus {
      width: 100%;
      height: 25%;
      color: #E6E7EB;
      border: 0;
      font-size: 13px !important;

      &:nth-child(even) {
        background-color: #3D4C5E;
      }

      &:nth-child(odd) {
        background-color: #2D3D4E;
      }

      .img_menus img {
        width: 50px !important;
        height: 50px !important;
      }
    }

  }
}

@media (max-width: 780px) {
  .menu_head .title_menus {
    display: none;
  }

  .menu_head .icone_header {
    width: 40%;
    margin-bottom: 0;
  }

  .header_menus {
    height: 135px;
  }

  .header_menus .list_menus {
    padding: 0;
    flex-wrap: nowrap !important;
    align-items: center;
  }

  .responsive_dotted {
    display: block;
    border-right: 4px solid #216E8F;
    border-right-style: dotted;
    height: 27%;
  }

  .menu_head {
    width: 25%;
    border: 0;
    height: 100%;
  }

  .menu_head.active {
    border: 0;
    background-color: #3B6EA3;
    opacity: 0.6;
  }

  .menu_head:hover {
    border: 0;
    background-color: #3B6EA3;
    opacity: 0.6;
  }

  .foot_table_total {
    margin-bottom: 5%;
  }
}

@media (max-width: 500px) {
  .menu_head .icone_header {
    width: 48%;
  }

  .header_menus {
    height: 100px;

    .menu_head .icone_header {
      width: 2.4rem;
    }
  }

  .header_account {

    .menus {
      height: 25%;
      min-height: 100px;
      max-height: 110px;

      .img_menus img {
        width: 40px !important;
        height: 40px !important;
      }
    }

  }

}
/**End Special responsivite menu page*/
