/**Police*/
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  src: url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Raleway"), local("Raleway-Regular"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff2") format("woff2"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff") format("woff"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.ttf") format("truetype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff2") format("woff2"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff") format("woff"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.ttf") format("truetype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}
/**End police*/
/*** Hello staff custom color ***/
/*// @mixin hs_police {
// 	font-family: Raleway-Black;
// 	src: url("fonts/Raleway/Raleway-Black.tff");
// }*/
/*** Hello staff form element ***/
/*** Hello staff buttons ***/
/*** modal ***/
/*** divider ***/
/*** start range slider ***/
/*** end ***/
/* line 3, ../../../../sass/Front/generale/_layout.scss */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*** Hello staff positioning ***/
/* taille avec responsivite des police: p , span, label, input, li, button,
titre: title_h1, title_h2, title_h3, ...
h1, h2, h3
*/
/* line 14, ../../../../sass/Front/generale/_default.scss */
label {
  /*color: #707070;*/
}

/* line 18, ../../../../sass/Front/generale/_default.scss */
.title_h2 {
  color: #707070;
  font-size: 28px;
}

/* line 22, ../../../../sass/Front/generale/_default.scss */
.label_create_event {
  color: #707070;
  font-size: 18px;
}

/* End taille avec responsivite des police */
/* line 29, ../../../../sass/Front/generale/_default.scss */
.police_number {
  font-family: SourceSansPro !important;
}

/* line 6, ../../../../sass/Front/agency/finished_event/finished_event.scss */
.responsive_dotted {
  display: none;
}

/**Special responsivite menu page*/
@media (max-width: 1525px) {
  /* line 11, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .menu_head {
    width: 15%;
  }
}
@media (max-width: 1075px) {
  /* line 16, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .header_menus .list_menus {
    padding: 0 15px;
  }

  /* line 19, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .menu_head {
    width: 13%;
  }
  /* line 22, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .menu_head .title_menus {
    font-size: 14px;
  }
}
@media (max-width: 955px) {
  /* line 28, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .menu_head .title_menus {
    font-size: 12px;
  }
}
@media (max-width: 885px) {
  /* line 33, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .menu_head .title_menus {
    display: none;
  }

  /* line 36, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .menu_head .icone_header {
    width: 40%;
    margin-bottom: 0;
  }

  /* line 40, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .header_menus {
    height: 135px;
  }

  /* line 43, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .header_menus .list_menus {
    padding: 0;
    flex-wrap: nowrap !important;
    align-items: center;
  }

  /* line 48, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .responsive_dotted {
    display: block;
    border-right: 4px solid #216E8F;
    border-right-style: dotted;
    height: 27%;
  }

  /* line 54, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .menu_head {
    width: 25%;
    border: 0;
    height: 100%;
  }

  /* line 59, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .menu_head.active {
    border: 0;
    background-color: #3B6EA3;
    opacity: 0.6;
  }

  /* line 64, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .menu_head:hover {
    border: 0;
    background-color: #3B6EA3;
    opacity: 0.6;
  }

  /* line 69, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .foot_table_total {
    margin-bottom: 5%;
  }
}
@media (max-width: 480px) {
  /* line 75, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .menu_head .icone_header {
    width: 48%;
  }

  /* line 78, ../../../../sass/Front/agency/finished_event/finished_event.scss */
  .header_menus {
    height: 100px;
  }
}
/**End Special responsivite menu page*/
