@import 'compass';
@import 'Front/generale/_element.scss';
@import 'Front/generale/_layout.scss';


@media( max-width: 1023px) {
	.hour_facture_page {
		.hour_facture_content {
			margin: 0;
		}

		table {
			border: none;

			thead {
			    border: none;
			    clip: rect(0 0 0 0);
			    height: 1px;
			    padding: 0;
			    position: absolute;
			    width: 1px;
			}

			tr {
				width: 100%;
				height: auto;
				@include hs_flex_wrap;
				border-top: none;
				border-bottom: none;
				/*margin-bottom: 18px;*/

				&:not(.extended_row) {
					.responsive_extension {
						display: none;
					}
				}

				&.extended_row {
					.responsive_extension {
						@include hs_display_flex;
					}

					.extendhour_facture_table {
						transform: rotate(90deg);
					}
				}
			}

			td {
				@include hs_flex_align_centered;
				@include hs_flex_one;
				position: relative;
				font-size: 13px;
				height: auto;

				&:before {
					content: attr(data-label);				    				    
				}

				&:not(:last-child) { border: none; }
			}

			.responsive_extension {
				height: auto;

				&:before {
					font-size: 12px;
				    height: 25px;
				    width: 100%;
				    background-color: #F2F6F8;
				    @include hs_flex_align_centered;
			    	@include hs_flex_justify_centered;
				}

			    .cell_content {
			    	height: 35px;
			    	width: 100%;
			    	@include hs_flex_align_centered;
			    	@include hs_flex_justify_centered;
			    }
			}

			.dates, .cell_performed_hour {
				width: 100%;
				flex: 100%;
				height: 40px;
				padding-right: 15px;
				@include hs_flex_end;

				&:before { 
					width: auto; 
					position: absolute;
					left: 15px;
				}
			}

			.cell_distance_rate, .cell_expense {
				width: 50px;
				@include hs_flex_one;
			}

			.distance_rate .distance {
				width: 48px;
				height: 25px;
			}

			.expense .amount {
				width: 40px;
				height: 25px;
				margin-right: 5px;
			}

			.distance_rate .amount { display: none; }

			.dates {
				background-color: #F2F6F8;	
				font-size: 15px;			

				&:before {
					font-size: 15px;
				}
			}

			.cell_performed_hour {
				background-color: #ffffff;
				font-size: 14px;

				&:before {
					font-size: 13px;
				}

				.cell_content {
					@include hs_flex_align_centered;
				}

				button {
					@include hs_display_flex;
					border: none;
					width: 15px;
					height: 15px;
					padding: 0;
    				background: transparent;
    				outline: none;

					svg {
						fill: #4C5264;
						width: 14px;
    					height: 14px;
					}
				}
			}

			.performed_hour {
				width: 170px;
				max-width: 170px;
				@include hs_flex_space_between;

				.hour_from, .hour_to {
				    width: 35px;
    				height: 25px;
				}

				.hour_to + span {
					border-right: 2px dotted #d4dbde;
    				padding-right: 10px;
				}
			}

			.cell_more_info {
				display: none;
			}

			.responsive_more_info {
				display: block;
			    margin-bottom: 10px;

				td {
					border-bottom: none;

					&:before {
						width: 100%;
						height: 40px;
						padding-left: 15px;
						@include hs_flex_align_centered;
						background-color: #F2F6F8;
						border: 1px solid #ffffff;
						font-size: 15px;
					}
				}

				.more_info_content {
					padding: 15px;
					font-size: 13px;
					background-color: #F2F6F8;
					width: 100%;
    				text-align: left;
				    border-top: 1px solid #d2dadd;
				}
			}

			.sub_total {
				.total {
					@include hs_display_flex;
				}

				.responsive_separator {
				    border-right: 2px dotted #d4dbde;
				    margin-right: 10px;
				    margin-left: 10px;
				    font-size: 13px;
				    @include hs_display_flex;
				}
			}

			.sub_total_item {
				&:not(:last-child) {
					display: none;
				}

				&:last-child {
					height: 40px;
					@include hs_flex_end;
					padding-right: 15px;
					font-size: 16px;
				}
			}
		}
	}
	
}

@media( max-width: 780px) {
	.hour_facture_page {
		.section_title {
			text-align: center;
		}

		.hour_facture_footer {
			.left, .right {
				width: 100%;
			    max-width: unset;
			}

			.right {
				@include hs_flex_justify_centered;
				margin-top: 20px;
			}
		}
	}
}

@media(max-width: 500px) {
	.hour_facture_page {

		.hour_facture_content {
			padding: 0 1rem;
		}

		.section_title {
			font-size: 23px;
			margin-top: 1rem;
			margin-bottom: 1rem;
			background-color: #F2F6F8;
			height: 6.5rem;
			@include hs_flex_align_centered;
			@include hs_flex_justify_centered;
		}

		.table_hour_facture {
			margin-top: 0;

			.travelling {
				display: none;
			}
		}

		table {
			margin-bottom: 15px;

			.responsive_more_info {
				td {
					&:before {
						font-size: 14px;
					}
				}
			}

			td {
				font-size: 10px;
			}

			.responsive_extension:before {
				font-size: 10px;
			}

			.dates, .cell_performed_hour {
				height: 35px;
			    padding-right: 8px;

			    &:before {
			    	left: 8px;
			    }
			}

			.dates {	
				font-size: 14px;			

				&:before {
					font-size: 14px;
				}
			}

			.cell_performed_hour {
				font-size: 13px;

				&:before {
					font-size: 12px;
				}

				button {
					border: none;
					width: 12px;
				}
			}

			.performed_hour {
				width: 135px;

				.hour_from, .hour_to {
				    width: 25px;
    				height: 20px;
				}
			}

			.distance_rate .distance {
				width: 40px;
				height: 20px;
			}

			.expense .amount {
				width: 35px;
				height: 20px;
				margin-right: 5px;
			}

			.responsive_more_info {
			    margin-bottom: 10px;

				td {

					&:before {
						height: 35px;
						padding-left: 8px;
					}
				}

				.more_info_content {
					padding: 15px 8px;
					font-size: 11px;
				}
			}

			.sub_total_item {

				&:last-child {
					height: 35px;
					padding-right: 8px;
					font-size: 12px;
				}
			}
		}

		.hour_facture_footer {
			.show_my_bill { 
				font-size: 15px; 
				margin-bottom: 10px; 
			}

			.message p { font-size: 14px; }
		}

	}
}
