@import 'compass';
@import 'Front/generale/_element.scss';
@import 'Front/generale/_layout.scss';
@import 'Front/generale/_function.scss';


.embedded-daterangepicker .daterangepicker::before,
.embedded-daterangepicker .daterangepicker::after {
     display: none;
}
.embedded-daterangepicker .daterangepicker {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.embedded-daterangepicker .daterangepicker .drp-calendar {
    width: 50%;
    max-width: 50%;
}
.daterangepicker .drp-calendar.left {
    padding: 8px !important;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #d6f4ef !important;
    color: #36ccb5 !important;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
    /*width: 40px !important;*/
    height: 55px !important;
    border-radius: 50px !important;
}
.daterangepicker {
     border: none !important;
}

/** PopUp dates */
#popup_dates, #popup_dates_2 {
    .modal_content {
        padding: 0px !important;
        // max-width: 40%;
    }
    .header_popup {
        background-image: -webkit-linear-gradient(7deg, #559bf7, #36ccb5);
        background-image: -o-linear-gradient(7deg, #559bf7, #36ccb5);
        background-image: linear-gradient(83deg, #559bf7, #36ccb5);
        color: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /*width: 935px;*/
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 22px;

        .plage_dates {
            width: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-left: 29px;

            .icon_hours {
                margin-right: 15px;

                .times {
                    width: 80px;
                }
            }
            .title_hours {
                font-size: 29px;
            }
        }
        .liste_dates {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            .first_dates {
                margin-right: 15px;
                width: 110px;
                height: 145px;
            }
            .second_dates {
                /*margin-right: 15px;*/
                width: 110px;
                height: 145px;
            }
            .icon_next {
                margin-right: 15px;
                font-weight: bold;
            }
            .date_letter {
                font-size: 20px;
                line-height: 20px;
            }
            .month_letter {
                font-size: 20px;
                line-height: 20px;
            }
            .date_number {
                font-size: 90px;
                text-align: center;
                line-height: 79px;
                margin-top: -22px;
            }
        }


        .plage_hours {
            margin-top: 69px;
        }
    }
    .align_dates_popup {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #60e5d0;
        padding: 6px;
    }

    .content_popup {
        // width: 725px;
        padding: 22px;
        background-color: #fff;

        .plage_hours {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;


            .liste_hours {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 22px;

                .img_hours {
                    margin-right: 20px;
                    width: 30px;
                }

                .times_with_cursor{
                    display: flex;
                    position: relative;
                }

                .up{
                    position: absolute;
                    right: 5px;
                }
                .down{
                    position: absolute;
                    right: 5px;
                    bottom: 0;
                }
                .input_hours {
                    width: 40px;
                    height: 25px;
                    border: 1px solid #AFB3B7;
                    border-radius: 5px;
                    padding-left: 8px;
                    font-family: Raleway;
                    color: #707070;
                }
            }
        }
    }
}

#popup_dates_2 {

  .content_popup {
    width: 500px;
  }
  #daterangepicker2-container {
    .ranges {
      display: none !important;
    }
  }

  .embedded-daterangepicker .daterangepicker {
    justify-content: center !important;

    .drp-calendar {
      width: 70% !important;
      max-width: 100% !important;
      margin-bottom: 5%;

      .calendar-table {
        td {
            width: 32px;
            height: 63px !important;
            border-radius: 50% !important;
        }
      }
    }
  }
  .content_popup .plage_hours {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .content_popup .plage_hours .liste_hours {
    padding: 10px !important;
    justify-content: flex-start !important;
  }
  .content_title_hours {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title_hours {
      font-size: 17px;
      color: #707070;
      display: flex;
      align-items: center;

      .img_hours {
        margin-right: 20px;
      }
    }
  }

  .boutton_popup_dates {
    justify-content: space-between !important;

    .btn_apply, .btn_cancel {
      width: 45% !important;
      height: 45px !important;
    }
  }
}

#popup_dates {
  .modal_content {
    max-width: 49%;
    width: 49%;

    .modal_head {
      width: 100%;

      .header_popup {
        width: calc(100% - 44px);
      }
    }
  }
  .content_popup {
    width: calc(100% - 44px);
  }
}
#popup_dates_2 {
  .modal_content {
    max-width: 40% ;
    width: 40%;

    .modal_head {
      width: 100%;

      .header_popup {
        width: calc(100% - 44px);
      }
    }
  }
  .content_popup {
    width: calc(100% - 44px);
  }
}

.boutton_popup_dates {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    .btn_apply {
        color: #fff;
        background-image: linear-gradient(83deg, #559bf7, #36ccb5);
        border: inherit;
        border-radius: 4px;
        width: 8rem;
        height: 35px;
        margin-right: 3%;
    }
    .btn_cancel {
        width: 8rem;
        height: 35px;
        border-radius: 4px;
        border: 1px solid #9C9D9E;
        color: #9C9D9E;
        background-color: #fff;
        margin-right: 2%;
    }
}
/** End Popup dates */

.calendar_content{
    padding: 6%;
}

#calendar, #calendar_confirmed {
  max-width: 100%;
  margin: 0 auto;
}

#calendar .fc-event .fc-title, #calendar_confirmed .fc-event .fc-title{
  color: white !important;
}

#calendar .staff_calendar_img, #calendar_confirmed .staff_calendar_img {
  display: inline-block !important;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50% !important;
  overflow: hidden !important;
  border: 2px solid #FFFFFF;
}

#calendar .list_staff_img, #calendar_confirmed .list_staff_img {
  display: flex;
  justify-content: flex-end;
  padding-right: 3px;
  padding-bottom: 3px;
}

.fc-widget-header, .fc-widget-content {
    margin-right: 0!important;
}

.fc-widget-header {
    height: 40px!important;
}

.fc-week {
    .fc-content-skeleton, table, tbody tr, .fc-event-container {
        height: 100%;
    }

    tbody {
        height: calc(100% - 45px);
    }
}

.fc-bg tr:only-child .fc-axis {
    font-size: 16px;
}

.fc-month-view {
    .fc-event-container {
        .fc-day-grid-event > div {
            @include hs_flex_align_centered;
            padding: 0 10px;
        }
    }

    .fc-more-cell {
        .fc-more {
            margin-left: 6%;
        }
    }
}

.fc-agendaWeek-view {
    .fc-more-cell {
        text-align: center;
    }

    img {
      &:not(:first-child) {
        margin-left: -10px;
      }
    }
}
