@import 'Front/generale/_layout.scss';


* {
	box-sizing: border-box;
}

.staff_home {
	height: 100vh;

	.staff_home_menu_item {
		@include hs_flex_align_centered;	    
	    width: 100%;
	    height: 100%;
	    align-items: center;
	    border-style: none;
	    margin-top: -1px;

	    &:nth-child(even) {
	    	background: #2d3d4e;
	    }

	    &:nth-child(odd) {
	    	background: #3d4c5e;
	    }

		.staff_home_menu_item_content {
		    width: 100%;
		    @include hs_flex_justify_centered;
			@include hs_flex_wrap;			    
		    @include hs_flex_direction_column;
		    align-items: center;
		    line-height: 23px;

			.redirect_link {
				width: 100%;
			    @include hs_flex_justify_centered;
			    margin-bottom: 2vw;
			    cursor: pointer;

				img {
				    width: 4.5vw;
				    height: 4.5vw;
				    background-color: transparent;
				}
			}

			.href_link {
				font-size: 120%;
			    font-family: Raleway;
			    opacity: 0.9;
			    display: flex;
			    text-align: center;
			    height: 3rem;

			    a {
			    	text-decoration: none;
					color: #ffffff;
			    }
			}
		}
	}
}

@media(max-width: 779px) {

	.staff_home {
		@include hs_flex_direction_row;
		@include hs_flex_wrap;
		min-height: 100vh;

		.content_logo_staff {
			width: 100%;
			position: relative;
			background: #2d3d4e;
		}

		.mobile_container {
			@include hs_flex_direction_row;
			@include hs_flex_wrap;
			@include hs_flex_one;
			height: calc(100vh - 102px);

			.staff_home_menu_item {
				width: 100%;
				height: 25%;

				.staff_home_menu_item_content {

					.redirect_link { margin-bottom: 15px; }
					
					.redirect_link img {
					    width: 40px;
    					height: 40px;
					}

					.href_link { font-size: 100%; height: 20px; }
				}
			}
		}
	}
}

@media(max-width: 779px) {
	.staff_home {
		.mobile_container {

			.staff_home_menu_item {

				.staff_home_menu_item_content {

					.redirect_link { margin-bottom: 10px; }
					
					.redirect_link img {
					    width: 50px;
    					height: 50px;
					}

					.href_link { font-size: 85%; }
				}
			}
		}
	}
}