/**Police*/
/* raleway-regular - latin */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@font-face {
  font-family: 'Raleway';
  src: url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Raleway"), local("Raleway-Regular"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff2") format("woff2"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff") format("woff"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.ttf") format("truetype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff2") format("woff2"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff") format("woff"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.ttf") format("truetype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}
/**End police*/
/*** Hello staff custom color ***/
/*// @mixin hs_police {
// 	font-family: Raleway-Black;
// 	src: url("fonts/Raleway/Raleway-Black.tff");
// }*/
/*** Hello staff form element ***/
/*** Hello staff buttons ***/
/*** modal ***/
/*** divider ***/
/*** start range slider ***/
/*** end ***/
/* line 3, ../../../../sass/Front/generale/_layout.scss */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*** Hello staff positioning ***/
/* taille avec responsivite des police: p , span, label, input, li, button,
titre: title_h1, title_h2, title_h3, ...
h1, h2, h3
*/
/* line 14, ../../../../sass/Front/generale/_default.scss */
label {
  /*color: #707070;*/
}

/* line 18, ../../../../sass/Front/generale/_default.scss */
.title_h2 {
  color: #707070;
  font-size: 28px;
}

/* line 22, ../../../../sass/Front/generale/_default.scss */
.label_create_event {
  color: #707070;
  font-size: 18px;
}

/* End taille avec responsivite des police */
/* line 29, ../../../../sass/Front/generale/_default.scss */
.police_number {
  font-family: SourceSansPro !important;
}

@media (min-width: 1024px) and (max-width: 1680px) {
  /* line 9, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .view_evaluation .evaluation_note {
    width: 51%;
  }
  /* line 12, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .view_evaluation .evaluation_description {
    width: 41%;
  }

  /* line 17, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar .photo_candidates {
    width: 45px;
    height: 45px;
  }
  /* line 22, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar .info_candidates .user_name {
    font-size: 14px;
  }
  /* line 25, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar .info_candidates .user_post {
    font-size: 13px;
  }

  /* line 30, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .save_evaluation {
    width: 178px;
    height: 67px;
    font-size: 14px;
  }

  /* line 35, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_star {
    width: 34%;
  }
}
@media (max-width: 1366px) {
  /* line 40, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .view_evaluation .evaluation_description {
    width: 39%;
  }

  /* line 43, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .white_start, .green_start {
    /*width: 16%;*/
    width: 28px;
  }
  /* line 47, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .white_start:not(:last-child), .green_start:not(:last-child) {
    margin-right: 5px;
  }

  /* line 51, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar {
    width: 34%;
  }
}
@media (max-width: 1280px) {
  /* line 57, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .view_evaluation .evaluation_description {
    width: 38%;
  }

  /* line 61, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar {
    width: 36%;
  }
}
@media (max-width: 1080px) {
  /* line 67, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .view_evaluation .evaluation_note {
    width: 52%;
  }

  /* line 72, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar {
    width: 42%;
    justify-content: space-between;
  }

  /* line 76, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .info_candidates {
    padding-left: 0rem;
  }

  /* line 79, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .info_dates {
    display: flex;
    flex-direction: column;
  }

  /* line 83, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .white_start, .green_start {
    width: 32px;
  }

  /* line 86, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar .info_candidates .user_name {
    font-size: 13px;
  }

  /* line 89, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .user_name {
    font-size: 13px;
  }

  /* line 92, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .user_post {
    font-size: 13px;
  }

  /* line 95, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .view_evaluation .evaluation_description {
    width: 36%;
  }

  /* line 98, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .info_candidate {
    width: 17%;
  }
}
@media (max-width: 1024px) {
  /* line 103, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .view_evaluation .evaluation_note {
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 1023px) {
  /*(min-width: 350px) and */
  /* line 109, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_staff_content {
    padding: 2% 2% 0 2%;
  }

  /* line 112, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .info_candidate {
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }

  /* line 117, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .white_start, .green_start {
    width: 6%;
  }

  /* line 120, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .step_evaluation_staff .title_step_evaluation_staff {
    justify-content: center;
  }

  /* line 123, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .form_item_drop_right {
    width: 69%;
    margin-bottom: 10%;
  }

  /* line 127, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .form_item_drop_user::before {
    top: 21px;
    right: 3px;
  }

  /* line 131, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  #gestionary_event {
    height: 32px;
    width: 99% !important;
  }

  /* line 135, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .view_evaluation {
    padding: 4px 0;
  }
  /* line 137, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .view_evaluation .evaluation_note {
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*height: 200px;*/
    margin-right: 0;
  }
  /* line 143, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .view_evaluation .evaluation_description {
    margin-top: 9px;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }

  /* line 150, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*height: 58%;*/
    height: auto;
  }
  /* line 156, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar .info_candidates {
    width: 100%;
    /*height: 37%;*/
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  /* line 163, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar .info_candidates .user_name {
    font-size: 15px;
  }
  /* line 167, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar .info_candidates .user_post {
    font-size: 14px;
    margin-top: 5px;
  }
  /* line 172, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_avatar .photo_candidates {
    /*margin-left: 6px;*/
    margin-bottom: 12px;
  }

  /* line 177, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .info_candidates {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*height: 19%;*/
    justify-content: space-between;
  }
  /* line 187, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .info_candidates.event {
    margin-top: 10px;
  }

  /* line 191, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluation_star {
    width: 100%;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*height: 16%;*/
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  /* line 199, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .footer_evaluation {
    height: 6rem;
    align-items: center;
  }

  /* line 203, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .save_evaluation {
    margin-left: 0%;
    width: 100%;
    border-radius: 0px;
  }

  /* line 208, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .form_item_drop_user {
    margin-right: 0px;
  }

  /* line 212, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .user_name {
    font-size: 15px;
  }

  /* line 215, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .user_post {
    font-size: 14px;
  }

  /* line 218, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .evaluate_right {
    margin-right: 0%;
  }
}
@media (max-width: 768px) {
  /* line 224, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .white_start, .green_start {
    width: 8%;
  }
}
@media (max-width: 480px) {
  /* line 229, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .white_start, .green_start {
    width: 11%;
  }

  /*.evaluation_star {
  	height: 11%;
  }*/
}
@media (max-width: 360px) {
  /* line 237, ../../../../sass/Front/staff/evaluate/evaluate_responsive.scss */
  .white_start, .green_start {
    width: 16%;
  }
}
