/**Police*/
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  src: url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Raleway"), local("Raleway-Regular"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff2") format("woff2"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff") format("woff"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.ttf") format("truetype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff2") format("woff2"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff") format("woff"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.ttf") format("truetype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}
/**End police*/
/*** Hello staff custom color ***/
/*// @mixin hs_police {
// 	font-family: Raleway-Black;
// 	src: url("fonts/Raleway/Raleway-Black.tff");
// }*/
/*** Hello staff form element ***/
/*** Hello staff buttons ***/
/*** modal ***/
/*** divider ***/
/*** start range slider ***/
/*** end ***/
/* line 3, ../../../../sass/Front/generale/_layout.scss */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*** Hello staff positioning ***/
/* line 5, ../../../../sass/Front/staff/job_offer/job_offer.scss */
*, *::before, *::after {
  box-sizing: border-box;
}

/* line 9, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers {
  background-color: #ffffff;
}
/* line 16, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .section_title {
  width: 100%;
  background-color: #F2F6F8;
  padding: 3rem 1.5rem 0 1.5rem;
  border-bottom: 1px solid rgba(112, 112, 112, 0.4);
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}
/* line 24, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .section_title label {
  font-family: Raleway Light;
  color: #707070;
  font-size: 25px;
}
/* line 30, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .section_title .section_title_content {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 38, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .search {
  width: 30rem;
}
/* line 41, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .search input {
  height: 45px;
}
/* line 45, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .search .input_group input {
  padding-right: 45px;
  width: 100% !important;
  border-right: none;
  border-radius: 5px;
  border-right: 1px solid rgba(112, 112, 112, 0.15);
}
/* line 52, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .search .input_group input:focus {
  border-right: 2px solid #36ccb5;
}
/* line 56, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .search .input_group input ::-webkit-input-placeholder {
  opacity: 0.5;
}
/* line 59, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .search .input_group input ::-moz-placeholder {
  opacity: 0.5;
}
/* line 62, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .search .input_group input :-ms-input-placeholder {
  opacity: 0.5;
}
/* line 65, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .search .input_group input :-moz-placeholder {
  opacity: 0.5;
}
/* line 70, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .search .input_group .input_addon {
  right: 10px;
  top: 1px;
  bottom: 1px;
  height: auto;
  width: 45px;
  border: none;
  background-color: transparent;
}
/* line 81, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .search .message_job_offer {
  font-family: Raleway Light;
  font-size: 15px;
  margin-top: 9px;
  display: block;
}
/* line 89, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .table_job_offer {
  margin-top: 1.5rem;
}
/* line 92, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .table_job_offer table {
  width: 100%;
}
/* line 97, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .spectrum_switch {
  display: inline-block;
  position: relative;
  font-size: 0;
  height: 32px;
  line-height: 32px;
}
/* line 104, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .spectrum_switch label {
  cursor: pointer;
}
/* line 108, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .spectrum_switch .switch_out {
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #C9C9C9;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: background 125ms ease-in-out, border 125ms ease-in-out;
}
/* line 119, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .spectrum_switch .switch_out .switch_in {
  position: absolute;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: #F5F4FC;
  border: 1px solid #C9C9C9;
  transition: background 125ms ease-in-out, border 125ms ease-in-out, transform 125ms ease-in-out, box-shadow 125ms ease-in-out;
  border-radius: 50%;
}
/* line 134, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .spectrum_switch.apply [type="checkbox"]:checked + .switch_out {
  border: 1px solid #3DA7C9;
  background-image: linear-gradient(90deg, #48c6ef, #1be6bf);
}
/* line 138, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .spectrum_switch.apply [type="checkbox"]:checked + .switch_out .switch_in {
  transform: translateX(32px);
  background-color: #ffffff;
  border-color: #93d0e1;
}
/* line 150, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .spectrum_switch.decline [type="checkbox"]:checked + .switch_out {
  border: 1px solid #C93D3D;
  background-image: linear-gradient(90deg, #ef4848, #e6811b);
}
/* line 154, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers .spectrum_switch.decline [type="checkbox"]:checked + .switch_out .switch_in {
  transform: translateX(32px);
  background-color: #ffffff;
  border-color: #C93D3D;
}
/* line 164, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table {
  border: 1px solid #F2F6F8;
  border-spacing: 0;
}
/* line 168, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table th {
  font-family: Raleway Regular;
  padding: 10px;
  color: #393C40;
  font-weight: normal;
}
/* line 174, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table th:first-of-type {
  text-align: left;
}
/* line 178, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table th:not(:first-of-type) {
  text-align: center;
}
/* line 183, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table tr {
  border-top: 1px solid rgba(112, 112, 112, 0.4);
  border-bottom: 1px solid rgba(112, 112, 112, 0.4);
}
/* line 188, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .cell_wrapper {
  border-right: 0.5px dotted #c8e0ec;
  height: 50px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* line 196, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table {
  border: 1px solid #F2F6F8;
  border-spacing: 0;
}
/* line 200, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table th {
  padding: 10px 0;
}
/* line 204, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table th:first-of-type {
  text-align: left;
  padding-left: 3vw;
}
/* line 209, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table th:not(:first-of-type) {
  text-align: center;
}
/* line 214, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table tr {
  height: 70px;
  border-top: 1px solid rgba(112, 112, 112, 0.4);
  border-bottom: 1px solid rgba(112, 112, 112, 0.4);
}
/* line 220, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table thead tr {
  height: 60px;
}
/* line 222, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table td {
  text-align: center;
  font-family: Raleway Light;
  color: #393C40;
}
/* line 227, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table td:first-of-type {
  padding-left: 3vw;
}
/* line 233, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table tbody tr:nth-child(odd) {
  background-color: #ffffff;
  padding: 1px;
}
/* line 237, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table tbody tr:nth-child(odd) td {
  background-color: #F2F6F8;
}
/* line 240, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
/* line 245, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .job_offer_event {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex: 1;
  display: flex;
  flex: 1;
}
/* line 250, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .job_offer_event .event {
  margin-right: 10px;
}
/* line 254, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .job_offer_event span {
  font-family: Raleway Light;
}
/* line 258, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .job_offer_event a {
  width: 30px;
  height: 30px;
  background-color: #2D3D4E;
  border-radius: 50%;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 2vw;
}
/* line 267, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .job_offer_event a i {
  color: #ffffff;
  font-size: 20px;
}
/* line 274, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .the_job {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 1.5rem;
}
/* line 280, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .the_job .job_color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  margin-right: 2rem;
}
/* line 288, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .the_job span {
  font-family: Raleway Light;
}
/* line 293, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .hourly_rate, .job_offers table .status_job {
  font-family: Raleway SemiBold;
}
/* line 295, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.job_offers table .spectrum_switch {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* line 303, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.event_card_container .section_title {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* line 306, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.event_card_container .section_title span {
  display: -webkit-flex;
  -webkit-flex: 1;
  display: flex;
  flex: 1;
  width: auto !important;
}
/* line 312, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.event_card_container .go_back_grey {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #A0A7AF;
  border-radius: 50%;
  margin-left: 1vw;
  padding: 0;
}
/* line 322, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.event_card_container .submit {
  width: 100%;
  margin-top: 25px;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
/* line 327, ../../../../sass/Front/staff/job_offer/job_offer.scss */
.event_card_container .submit .apply_for_job_event {
  width: 19.27vw;
  min-width: 290px;
  height: 94px;
  background-image: linear-gradient(90deg, #1dc4e9, #1de9b6);
  color: #ffffff;
  font-size: 22px;
  border: none;
}
