/**Police*/
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  src: url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Raleway"), local("Raleway-Regular"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff2") format("woff2"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff") format("woff"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.ttf") format("truetype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff2") format("woff2"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff") format("woff"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.ttf") format("truetype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}
/**End police*/
/*** Hello staff custom color ***/
/*// @mixin hs_police {
// 	font-family: Raleway-Black;
// 	src: url("fonts/Raleway/Raleway-Black.tff");
// }*/
/*** Hello staff form element ***/
/*** Hello staff buttons ***/
/*** modal ***/
/*** divider ***/
/*** start range slider ***/
/*** end ***/
/* line 3, ../../../../sass/Front/generale/_layout.scss */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*** Hello staff positioning ***/
@media (max-width: 1368px) {
  /* line 8, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .content_button_update_profil .button_update_profil_gradient {
    margin-right: 4%;
  }
  /* line 11, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .content_button_update_profil .label_create_event {
    font-size: 12px;
  }

  /* line 16, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .label_create_event {
    font-size: 12px;
  }

  /* line 20, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_item label {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 27, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .label_create_event {
    font-size: 12px;
  }

  /* line 31, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .content_pages .form_tps_tvq {
    width: 88%;
  }
  /* line 33, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .content_pages .form_tps_tvq .tps_tvq {
    width: 39%;
  }
  /* line 37, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .content_pages .logo_modif {
    width: 25%;
  }
  /* line 40, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .content_pages .form_modif {
    width: 25%;
  }
  /* line 43, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .content_pages .description {
    width: 46%;
  }
  /* line 46, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .content_pages #form_modify_profil label {
    font-size: 12px;
  }
  /* line 49, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .content_pages .content_button_update_profil {
    width: 94%;
  }

  /* line 54, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_modify_profil .form_group_profil .form_item input[type=number] {
    -moz-appearance: textfield;
    width: 100%;
  }

  /* line 59, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_item label {
    font-size: 12px;
  }

  /* line 66, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .button_update_profil_footer {
    width: 20%;
  }
}
@media (max-width: 930px) {
  /* line 71, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .liste_button_update .button_update_profil_gradient {
    width: 40% !important;
  }

  /* line 74, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .button_update_profil_footer {
    width: 25%;
  }
}
@media (max-width: 767px) {
  /* line 81, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_modify_profil .form_group_profil {
    width: 100%;
  }

  /* line 86, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .btn_valide_first {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3%;
  }

  /* line 91, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .content_button_update_profil {
    padding: 5% 0;
  }

  /* line 94, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .liste_button_update .button_update_profil_gradient {
    width: 100% !important;
  }

  /* line 99, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .liste_button_update .btn_valide {
    width: 100% !important;
    margin: 0 !important;
  }

  /* line 106, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .description_modify .logo_modif {
    width: 100%;
  }
  /* line 109, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .description_modify .form_modif {
    width: 100%;
  }
  /* line 112, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .description_modify .description {
    width: 100%;
  }

  /* line 118, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil {
    display: block;
  }
  /* line 120, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil .input_update_profil_col1 {
    width: 100%;
    padding: 0;
  }
  /* line 124, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil .input_update_profil_col2 {
    width: 100%;
  }
  /* line 127, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil .input_update_profil_col3 {
    width: 100%;
  }
  /* line 132, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .content_button_update_profil {
    width: 100%;
    margin: 0;
  }
  /* line 135, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .content_button_update_profil .button_update_profil_gradient {
    width: 100%;
    margin-right: 4%;
  }
  /* line 139, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .content_button_update_profil .button_update_profil_no_gradient {
    width: 100%;
  }

  /* line 145, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_tps_tvq {
    width: 98.5%;
  }

  /* line 149, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_modify_profil .form_group_profil .form_item input[type=number] {
    width: 96.5%;
  }

  /* line 152, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update {
    padding: 0% 9% 9% 9%;
  }

  /* line 155, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .icon_refresh {
    bottom: 11px;
  }

  /* line 158, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .footer_update_profil {
    margin: 1% 46% 0% 37%;
  }

  /* line 165, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .button_update_profil_footer {
    width: 35%;
  }

  /* line 169, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update {
    padding: 0% 9% 6% 9%;
  }

  /* line 174, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .step_modify_profil .modify_language {
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  /* line 182, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_modify_profil .form_group_profil {
    width: 100%;
  }

  /* line 187, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .description_modify .logo_modif {
    width: 100%;
  }
  /* line 190, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .description_modify .form_modif {
    width: 100%;
  }
  /* line 193, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .description_modify .description {
    width: 100%;
  }

  /* line 199, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil {
    display: block;
  }
  /* line 201, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil .input_update_profil_col1 {
    width: 100%;
    padding: 0;
  }
  /* line 205, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil .input_update_profil_col2 {
    width: 100%;
  }
  /* line 208, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil .input_update_profil_col3 {
    width: 100%;
  }
  /* line 213, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .content_button_update_profil {
    width: 100%;
    margin: 0;
  }
  /* line 216, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .content_button_update_profil .button_update_profil_gradient {
    width: 100%;
    margin-right: 4%;
  }
  /* line 220, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .content_button_update_profil .button_update_profil_no_gradient {
    width: 100%;
  }

  /* line 227, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_tps_tvq {
    width: 96.5%;
  }

  /* line 231, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_modify_profil .form_group_profil .form_item input[type=number] {
    width: 95.5%;
  }

  /* line 240, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .button_update_profil_footer {
    width: 80%;
  }

  /* line 243, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .line_divider {
    margin: 0;
  }
}
@media (max-width: 380px) {
  /* line 250, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .modification_profil_agence {
    flex-direction: column;
    padding: 4%;
  }

  /* line 255, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_message {
    justify-content: center;
  }

  /* line 259, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .line_divider {
    display: none;
  }

  /* line 262, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .header_create_event_two {
    flex-direction: column;
  }

  /* line 265, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .title_step {
    margin-right: 0;
  }

  /* line 269, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .form_modify_profil .form_group_profil {
    padding: 0 4%;
  }

  /* line 273, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .content_pages {
    padding: 0;
  }

  /* line 278, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .agency_logo .refrech_background {
    top: 296%;
    right: 21%;
  }

  /* line 285, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update {
    padding: 0% 13% 13% 13%;
  }

  /* line 293, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update {
    padding: 0% 13% 8% 13%;
  }

  /* line 298, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil {
    display: block;
  }
  /* line 300, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil .input_update_profil_col1 {
    width: 100%;
    padding: 0;
  }
  /* line 304, ../../../../sass/Front/agency/updateProfil/update_profil_responsive.scss */
  .utilisateur_profil_update .input_update_profil .input_update_profil_col2 {
    width: 100%;
  }
}
