/**Police*/
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  src: url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Raleway"), local("Raleway-Regular"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff2") format("woff2"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.woff") format("woff"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.ttf") format("truetype"), url("../../../fonts/Raleway_v2/raleway-v12-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff2") format("woff2"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.woff") format("woff"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.ttf") format("truetype"), url("../../../fonts/SourceSansPro/source-sans-pro-v11-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}
/**End police*/
/*** Hello staff custom color ***/
/*// @mixin hs_police {
// 	font-family: Raleway-Black;
// 	src: url("fonts/Raleway/Raleway-Black.tff");
// }*/
/*** Hello staff form element ***/
/*** Hello staff buttons ***/
/*** modal ***/
/*** divider ***/
/*** start range slider ***/
/*** end ***/
/* line 3, ../../../../sass/Front/generale/_layout.scss */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*** Hello staff positioning ***/
@media (min-width: 1369px) and (max-width: 1680px) {
  /* line 8, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown-menu {
    width: 68%;
  }

  /* line 11, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_create_event {
    width: 66%;
  }

  /* line 14, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .form_item input:not([type="checkbox"]) {
    font-size: 12px;
    margin-right: -2px;
    width: 99%;
  }

  /* line 19, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .step_modify_profil span.icon_input_statement {
    top: 19%;
  }

  /* line 22, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .label_statement {
    width: 25%;
  }

  /* line 25, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  #dropdown_users_manage {
    width: 280px;
  }
}
@media (max-width: 1368px) {
  /* line 32, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .header_statement .addon_plus_moins {
    width: 9.5%;
  }

  /* line 35, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement {
    width: 40%;
  }

  /* line 38, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .label_wth_statement {
    width: 10%;
  }

  /* line 41, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .label_statement {
    width: 30%;
  }

  /* line 44, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .plus_img.moins_img.addon_plus_moins.second_divider_content_question_img {
    padding-left: 19%;
  }

  /* line 47, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown-menu {
    width: 78%;
  }

  /* line 50, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .form_item input:not([type="checkbox"]) {
    font-size: 12px;
    margin-right: -2px;
    width: 100%;
    margin-left: 0%;
  }

  /* line 56, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .label_wth_statement {
    width: 12%;
  }

  /* line 59, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .step_modify_profil span.icon_input_statement {
    right: -4%;
    top: 24%;
  }

  /* line 63, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown-menu_compte_rendu {
    width: 61%;
  }

  /* line 66, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  #dropdown_users_manage {
    width: 297px;
  }
}
@media (min-width: 1024px) and (max-width: 1080px) {
  /* line 72, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown-menu {
    width: 82%;
  }

  /* line 75, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  #dropdown_users_manage {
    width: 238px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 80, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown-menu {
    width: 95%;
  }

  /* line 83, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .label_wth_statement {
    width: 15%;
  }

  /* line 87, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .plus_img.moins_img.addon_plus_moins.second_divider_content_question_img {
    padding-left: 24%;
  }

  /* line 91, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .form_item input:not([type="checkbox"]) {
    font-size: 12px;
    margin-right: -2px;
    width: 99%;
  }

  /* line 96, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_create_event {
    width: 81%;
  }

  /* line 99, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown-menu {
    width: 100%;
  }

  /* line 102, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  #dropdown_users_manage {
    width: 239px;
  }
}
@media (max-width: 767px) {
  /* line 109, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_create_event {
    width: 100% !important;
  }
  /* line 112, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_create_event .dropdown-menu_compte_rendu {
    width: 100%;
  }
  /* line 115, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_create_event .dropdown_content {
    width: 100%;
  }
  /* line 119, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_create_event .dropdown_content .span_dropdown .input_dropdown_create_event {
    width: 100% !important;
  }
  /* line 122, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_create_event .dropdown_content .span_dropdown .icon_input_statement {
    right: 0rem !important;
    top: 0.5rem !important;
  }
  /* line 126, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_create_event .dropdown_content .span_dropdown #dropdown_users_manage {
    top: 1.5rem !important;
  }

  /* line 132, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown-menu {
    width: 96%;
  }

  /* line 135, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .content_statement {
    padding: 0%;
  }

  /* line 138, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .content_pages_statement {
    padding: 0%;
    width: 100%;
  }

  /* line 142, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .step_modify_profil {
    width: 100%;
    height: 260px !important;
    align-items: left;
    background-color: #F2F6F8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* line 151, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .step_modify_profil .modify {
    padding: 0 3%;
    margin-top: 4%;
  }

  /* line 155, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .label_wth_statement {
    margin-top: 3%;
    margin-left: 3%;
    width: 100%;
    font-size: 18px;
    margin-bottom: 1%;
  }

  /* line 162, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement {
    width: 100%;
  }
  /* line 165, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown_content {
    position: relative;
    width: 90%;
    margin-left: 3%;
  }

  /* line 171, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .input_wth_statement {
    width: 97%;
  }

  /* line 174, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .label_statement {
    width: 100%;
  }

  /* line 177, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .header_statement .addon_plus_moins {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
  }
  /* line 183, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .header_statement .addon_plus_moins .header_statement .addon_plus_moins img {
    padding: 1%;
  }

  /* line 187, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .flex_statement_content_question {
    width: 95.5%;
    margin-top: 0;
  }
  /* line 190, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .flex_statement_content_question .first_divider_content_question {
    width: 97%;
  }
  /* line 192, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .flex_statement_content_question .first_divider_content_question label {
    padding-left: 0;
  }
  /* line 195, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .flex_statement_content_question .first_divider_content_question .text_brief_new {
    width: 96% !important;
  }

  /* line 200, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .second_divider_content_question {
    width: 95.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 205, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .second_divider_content_question .separator {
    width: 100%;
    margin-top: 0;
  }

  /* line 210, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .label_second_desription {
    width: 100%;
    padding: 0%;
    margin-top: 3%;
  }

  /* line 215, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .plus_img.moins_img.addon_plus_moins.second_divider_content_question_img {
    padding-left: 0%;
    margin-top: 5%;
    width: 8%;
  }

  /* line 220, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .footer_content_question {
    width: 94%;
    height: auto;
    border-top: 1px dashed #AAAAB1;
    border-top: 1px dashed #AAAAB1;
    padding: 0 3% 2% 3%;
  }
  /* line 228, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .footer_content_question .add {
    width: 100%;
    font-size: 20px;
  }

  /* line 233, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .pad_label_second_description {
    padding: 1%;
  }

  /* line 236, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .wth_img_before {
    border-right: 1px dashed #ffff;
    padding-right: 0;
  }

  /* line 240, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .content_question {
    padding: 0 3%;
    justify-content: flex-start;
  }

  /* line 245, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .header_statement .addon_plus_moins img {
    width: 40px;
    padding: 2%;
    margin-left: 1%;
  }

  /* line 250, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  #dropdown_users_manage {
    width: 100%;
  }

  /* line 253, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .form_item input:not([type="checkbox"]) {
    width: 98%;
  }

  /* line 257, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .statement .step_modify_profil {
    width: 100% !important;
    padding: 2% 0 !important;
    flex-direction: column !important;
  }
}
@media (max-width: 575px) {
  /* line 265, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown_content {
    width: 89%;
  }

  /* line 269, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .second_divider_content_question {
    width: 85%;
  }
}
@media (max-width: 440px) {
  /* line 275, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown_content {
    width: 87%;
  }
}
@media (max-width: 350px) {
  /* line 280, ../../../../sass/Front/agency/Future_event/statement_responsive.scss */
  .dropdown_statement .dropdown_content {
    width: 86.5%;
  }
}
