@import 'compass';
@import 'Front/generale/_element.scss';
@import 'Front/generale/_layout.scss';
@import 'Front/generale/_function.scss';

.master {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px white inset;
       background-color: url() no-repeat!important;
  }
}

.contact_information, .list_language, .certification, .remuneration, .mobility, .photo_cv, .list_attributs {
	padding-top: 4%;
	padding-bottom: 4%;
}
.form_condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content_wrap {
	/*margin: 0px 30px 30px 30px;*/
}
.staff_reg_head {
	@include hs_gradient_blue;
	padding-top: 60px;
	padding-bottom: 60px;
}

/*.form_item .dropdown.drop_one {
  width: 66%;
  margin-left: 30%;
}*/

/*.form_item .dropdown.drop_two {
  margin-left: 28%;
  width: 68%;

}
.form_item .dropdown.drop_three {
  margin-left: 24%;
  width: 64%;
}*/
.checkbox_items {
	display:flex;
}

.content {
	@include hs_light_grey;
	display: inline-block;
	width: 100%;

    form {
	    margin: auto;
    }
}
.contact_information {
	@include contact_information;
	width: 75%;
	margin: auto;

	.item {
		&:not(:last-child) {
			margin-right: 60px;
		}

		.title {
			border-bottom: solid 0.5px #707070;
			opacity: 0.7;
			padding-bottom: 5px;
			margin-bottom: 40px;
			color: #43425d;
			text-align: left;
			line-height: 1.42;
			font :{
				style: normal;
				family: Raleway;
				weight: 500;
				size: 20px;
				stretch:normal;
				spacing:normal;
			}
		}

		.form_item {
			input:not([type= "checkbox"]) {
				    width: 93%;

        				/* Firefox */
        	-moz-appearance: textfield;

        	/* Chrome */
        	&::-webkit-inner-spin-button {
        		-webkit-appearance: none;
        		margin:0;
        	}

        	/* Opéra*/
        	&::-o-inner-spin-button {
        		-o-appearance: none;
        		margin: 0;
        	}
			}

			.dropdown-menu {
				.label_select {

					.select  {
						width: 96%;
					}
				}
			}
			.dropdown-menu.birth_day {
				 ul {
					 width: 84px;
				 }
			}
			.birth_day, .birth_month, .birth_year {
				width: 80px;
			}
		}
	}

}
.visible {
	display:block !important;
}
.dropdown_large {
	width: 100% !important;
}
.link {
    text-decoration: underline;
    cursor: pointer;
}
.footer {
    @include hs_flex_justify_centered;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 50px;
    .step_btn {
        @include hs_big_btn(#36ccb5);
    }
}
.page {
	display: none;
}

.text_condition {
	font-style: normal !important	;
	font-size: 14px !important;
}
.dropdown.scrollbar {
	max-height: 200px;
    overflow-y: scroll;
}
.taille {
  border-right: 2rem solid transparent;
}
.not_pronounced_item {
  border-right: 6rem solid transparent;
}

/*** start langues ***/
.list_language {
  // display: -ms-grid;
  // display: grid;
  // -ms-grid-columns: auto 6% auto 6% auto;
  // grid-template-columns: auto 6% auto 6% auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;

  // .item {
    .form_item:last-child {
      margin-bottom: 0!important;
    }
  // }

  .form_item {
    width: 30%;
  }
  .dropdown-menu {
  	position: relative;
    width: 50%;
    margin-top: -15px;
    input {
    	width: 90%;
    }
    .dropdown {
    	width: 94%;
    }
  }
  .checkbox p {
	margin: 0px auto;
  }
  .checkbox_wrap {
	  border: 20px solid #f2f6f8 !important;
	}
	.checkbox_items {
	  width: 50%;
	}

	.sign_language {
	  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    p {
      margin: inherit;
    }
	}
}
/*** end langues ***/

/*** start photo cv ***/
.photo_cv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  width: 80%;
  margin: auto;
}
.icon_photo {
  width: auto;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  #imgPortrait {
    object-fit: cover;
  }
  #imgPortraitPlain {
    object-fit: cover;
  }
}
.portrait {
  width: -moz-fit-content;
  text-align: center;
  @include hs_flex_direction_column;
  @include hs_flex_align_centered;
}
.level1 {
  background-color: #f0f2f8;
  border-radius: 50%;
  padding: 7px 7px;
  border: 1px solid #dddfe7;
  position: relative;
  cursor: pointer;
  width: 130px;
  margin: 40px 40px 0 40px;
}
.level2 {
  background-color: #f0f2f8;
  border-radius: 50%;
  padding: 10px 10px;
  border: 4px solid #dddfe7;
}
.icon_plus {
  font-size: 18px;
  color: #fff;
  background-color: #36ccb5;
  padding: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: -12px;
  position: absolute;
  right: 16px;
  top: 100px;
}

.divider {
  @include hs_vertical_divider;
  margin: 30px;
}

/* Modal Staff */
#staff_registration_finish {
	.modal_content {
    background-image: linear-gradient(43deg, #36ccb5, #559bf7);
	}
  .check_confirmation {
  	background-color: transparent;
  	margin: 40px auto;
    width: 7rem;
    height: 7rem;
  }
  .icon_confirmation {
  	font-size: 113px;
  }
  .post_confirmation {
  	font-family: Raleway;
  	font-size: 55px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.18;
  	letter-spacing: normal;
  	text-align: center;
  	color: #ffffff;
  	margin-top: -15px;
  }
  .text_confirmation {
    font-family: Raleway;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
  	color: #ffffff;
    margin: 10px 134px;
  }
  .step_btn {
    padding: 15px 40px;
    font-size: 25px;
    color: #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    border: solid 0.5px #ffffff;
  }
}
/* End Modal Staff*/

/** modal agency*/
#agency_registration_finish {
	.modal_content {
    background-image: linear-gradient(43deg, #36ccb5, #559bf7);
	}
  .check_confirmation {
  	background-color: transparent;
  	margin: 40px auto;
    width: 7rem;
    height: 7rem;
  }
  .icon_confirmation {
  	font-size: 113px;
  }
  .post_confirmation {
  	font-family: Raleway;
  	font-size: 55px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.18;
  	letter-spacing: normal;
  	text-align: center;
  	color: #ffffff;
  	margin-top: -15px;
  }
  .text_confirmation {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
  	color: #ffffff;
    margin: 10px 50px;
  }
  .step_btn {
    padding: 15px 40px;
    font-size: 25px;
    color: #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    border: solid 0.5px #ffffff;
  }
  .confirm_agency {
      margin-top: 130px;
  }
}

// #infoLogo{
//     font-size:80%;
//     color:red;
//     font-style:italic;
// }
/** end modal agency*/

/*** end photo cv ***/

/*** start mobility ***/
.mobility {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  width: 78%;
  margin: auto;
  //grid-gap: 45px;
  .form_item {
		margin: 40px 0 !important;
	}
}

/*** end mobility ***/

/*** start job experience ***/
.job_experience {
	margin: 30px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
	grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;

	.job {
		@include hs_flex_direction_column;
		@include hs_flex_align_centered;
		background-color: #ffffff;
  	border: solid 0.3px rgba(112, 112, 112, 0.18);
  	padding: 0 20px;
  	cursor: pointer;

		&.active {
			background-image: linear-gradient(229deg,#36ccb5 , #559bf7);
			border: none;
			margin-right: -1px;

      .job_img svg path {fill: #ffffff !important;}
			span {
				z-index: 1;
			}
			.title {
			  color: #ffffff;
			}
		}
		.job_img {
		  @include hs_flex_align_end;
      height: 8rem;

		  svg, img {
  			width: 4rem;
  			height: 4rem;

  			path {
          transition : fill 200ms ease-out;
          -webkit-transition :fill 200ms ease-out;
          -moz-transition : fill 200ms ease-out;
          -o-transition :  fill opacity 200ms ease-out;
        }
  		}
		}

		.title {
			@include hs_medium_title;
			color: #707070;
			height: 15px;
		}
		span {
			  margin: 20px;
		    width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
		    border: 4px solid #3dc0c4;
		    @include hs_border_round;
		    background-color: #fff;
				font-family: Raleway;
				font-size: 16px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				text-align: center;
				color: #3ec0c5;
		    z-index: -1;
		}

	}
}
.experience_wrap {
	padding: 30px;
    background-color: #c6f0e9;
    width: fit-content;
    display: flex;
    margin: 2.5rem;
    @include hs_border_round;
}
.experience {
	padding: 30px 35px;
    color: #fff;
    font-weight: bold;
    background-color: #9be5da;
    border-radius: 50%;
    font-size: 39px;
    width: 43px;
    height: 54px;
  @include hs_border_round;
}
.experience_wrap_sup {
  border-radius: 50%;
  background-color: #e0f7f3;
}
.hidden_experience {
  background-color: transparent !important;
}
.experience_null {
  color:black !important;
  background-color: #fff !important;
  border: 1px solid #36ccb5;
}

#define_experience {
    .modal_content {
  		width: 30rem;
      max-width: 80%;
  	}
    .staff_reg_step_nav {
      margin: 0;

    }
    .post {
      font-size: 180%;
      font-weight: 300;
      margin-bottom: 0;
    }
    .title-icon-modal {
      width: 15%;
      margin: auto;
    }
    .foot_paragraph {
  		padding: 0 2.5rem;
  		-webkit-transition: all 0.5s;
  		transition: all 0.5s;

  	}
  	.modal_footer {
  	      padding-top: 0px;
  	}
}

/*** end job experience ***/

/*** start certification ***/
.certification {
	display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
	grid-template-columns: auto auto auto auto;
	width: 70%;
    margin: auto;
    .divider {
    	@include hs_vertical_divider;
    	margin: 10px 30px 40px 30px;
    }
    .item:nth-child(-n+2) {
    	padding-top: 30px;
    }
    .form_item:not(:last-child) {
    	margin-bottom: 40px;
    }
}
.skill .form_item {
	display: flex;
	&:not(last-child) {
	  margin-bottom: 40px;
	}
}
/*** end certification ***/

/*** start attributs ***/
.list_attributs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  width: 77%;
  margin: auto;

  .item:not(:last-child) {
    margin-right: 30px;
  }
}
/*.checkbox_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
}*/
.form_item_attributs {
    margin: -11px 0 !important;
}
.dropdown_attrubuts {
  margin-top: 1% !important;
}
.select_attrubuts {
  width: 38px !important;
}

.plc {
    width: 85px !important;
}

.divider {
  opacity: 0.2;
  border: solid 0.5px #707070;
  width: 0;
  margin: 30px;
}
.checkbox_wrap.attributs_wrap {
	@include hs_flex_space_between;
	position: relative;
  box-sizing: border-box;

  .dropdown.large {
    box-sizing: border-box;
    width: 100%;
  }
}
.dropdown_items.attributs_items {
	margin-top: 15px;
}
.dropdown-menu.list_menu {
	padding: 2% 7%;
}
/** end attributs **/
/**coordonnées**/
.condition {
	display: flex;
	justify-content: center;
// 	padding-bottom: 20px;
  margin-top: 2rem;
}
/**end coordonnées**/


/** start validation */


#validation_message .modal_content, #attribut_validation .modal_content,
#language_validation .modal_content, #mobility_validation .modal_content,
#attribut_validation .modal_content, #photo_cv_validation .modal_content,
#certificat_validation .modal_content, #remuneration_validation .modal_content,
#remuneration1_validation .modal_content{
  padding: 3rem;
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
#appareil_photo .modal_content{
  padding: 3rem;
}


/** end validation */

#error_confirm{
  color:#a94442;
  font-size:10px;
}





// appareil photo
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.app{
    width: 100%;
    position: relative;
}

.app #start-camera{
    display: none;
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448AFF;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

.app video#camera-stream{
    display: none;
    width: 100%;
}

.app img#snap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.app #error-message{
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

.app .controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px;
    display: none;
}

.app .controls a{
    border-radius: 50%;
    color: #fff;
    background-color: #111;
    text-decoration: none;
    padding: 15px;
    line-height: 0;
    opacity: 0.7;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.app .controls a:hover{
    opacity: 1;
}

.app .controls a.disabled{
    background-color: #555;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.app .controls a.disabled:hover{
    opacity: 0.5;
}

.app .controls a i{
    font-size: 18px;
}

.app .controls #take-photo i{
    font-size: 32px;
}

.app canvas{
    display: none;
}



.app video#camera-stream.visible,
.app img#snap.visible,
.app #error-message.visible
{
    display: block;
}

.app .controls.visible{
    display: flex;
}

.small_mobilities_registration {
  padding: 0 11% 1% 11%;
  margin-top: -2%;
}
